@font-face {
    font-family: 'Antic';
    src: url(./fonts/Antic-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Antic';
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 7fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #3A7CA5;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 2fr repeat(6, 1fr) 2fr repeat(3, 1fr) 7fr;
    align-items: center;
}

.sidebar p:first-of-type {
    color: white;
    font-size: calc(calc(3vw + 5vh) / 3);
    font-weight: bold;
}

.sidebar p {
    color: white;
    font-size: calc(calc(3vw + 5vh) / 5);
    font-weight: bold;
}

.sidebar img:first-of-type {
    width: 50%;
}

.sidebar img {
    width: 25%;
    justify-self: center;
}

.content {
    border-top: 3px solid rgb(64, 64, 64, 0.3);
    background-color: #d3d3d3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    padding: 2%;
}

.projects {
    grid-row: 1 / -1;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    overflow: auto;
}

.projects-box::-webkit-scrollbar {
    display: none;
}

.project {
    background-color: white;
    border-radius: 8px;
    border-left: 8px solid gold;
    padding: 7%;
}

.project h3 {
    font-size: calc(calc(3vw + 5vh) / 5);
    margin-bottom: 4%;
}

.project p {
    font-size: calc(calc(3vw + 5vh) / 7);
    color: rgb(0, 0, 0, 0.7);
}

.announcements {
    grid-column: 2 / -1;
}

.trending {
    grid-column: 2 / -1;
}

.content img {
    width: 10%;
}

.icons {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
}

.icons img {
    padding: 0 2%;
}

.content h2 {
    margin-bottom: 3%;
}

.announcement-box {
    background-color: white;
    border-radius: 8px;
    overflow: auto;
    height: 30vh;
}

.announcement-box::-webkit-scrollbar {
    display: none;
}

.trending-box {
    background-color: white;
    border-radius: 8px;
    overflow: auto;
    height: 30vh;
}

.trending-box::-webkit-scrollbar {
    display: none;
}

.announcement {
    border-top: 2px solid #d3d3d3;
    padding: 7%;
}

.trending-user {
    border-top: 2px solid #d3d3d3;
    padding: 7%;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.trending-user img {
    width: 80%;
}

.user {
    align-self: center;
}

.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr / 2fr;
    justify-items: center;
    align-items: center;
    padding: 2%;
}

.header img.icon {
    width: 40%;
}

#search-bar {
    grid-column: 2 / span 9;
    justify-self: stretch;
    height: 50%;
    background-color: #d3d3d3;
    border-radius: 16px;
    border: none;
}

#bell {
    grid-column: 16;
}

#profile-small {
    grid-column: 17;
    width: 70%;
}

#user-name {
    grid-column: 18 / 21;
}

#profile-big {
    grid-column: 1 / 3;
    width: 70%;
}

#greeting {
    grid-column: 3 / span 7;
    justify-self: start;
    font-weight: bold;
}

#new {
    grid-column: 15;
}

#upload {
    grid-column: 17;
}

#share {
    grid-column: 19;
}

.header button {
    background-color: #3A7CA5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    height: 30%;
    width: 150%;
}